{% extends "base.html" %}
{% block window %}
<script>
    function toggleArticles() {
        const aside = document.querySelector('aside');
        aside.style.display = aside.style.display === 'none' ? 'block' : 'none';
        const main = document.querySelector('main');
        main.style.width = aside.style.display === 'none' ? '95%' : '80%';
    }
</script>
<aside>
    <h3 style="text-align: center;">Read more</h3>
    <ul>
        {% for article in all_articles %}
        <li><a href="/blog/{{article}}">{{article}}</a></li>
        {% endfor %}
    </ul>
</aside>
<button id="more-button" onclick="toggleArticles()"><img src="/static/icons/more-svgrepo-com.svg"
        alt="Show articles"></button>
<main>
    <article>{{content | safe}}</article>
</main>
{% endblock %}